.git
.github
.idea
.vscode

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

ui/node_modules
ui/.next
node_modules

.cache
datasets
output
*.db
*.sqlite
*.sqlite3

.env
.env.*
!.env.example
